 body {
     background: #4DA1A9 !important;
     color: #000000 !important;
     padding-left: 10px !important;
     padding-bottom: 5px !important;
 }

 table {
     border: 3px solid #2E5077 !important;
     background: #44838a !important;
 }

 th {
     border: 3px solid #2E5077 !important;
     text-align: center !important;
     margin: 3px !important;
     padding: 3px !important;
     background: #44838a !important;
 }

 td {
     border: 3px solid #2E5077 !important;
     text-align: center !important;
     margin: 3px !important;
     padding: 3px !important;
     background: #44838a !important;
 }
 button {
     margin-top: 5px !important;
     align-self: center !important;
     background-color: #79D7BE !important;
     color: #2E5077 !important;
     margin-left: 5px !important;
     margin-right: 5px !important;
 }


